html {
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(to right, #705ebb, #f06b6b, #e6b97a);
  background-size: 400% 400%;
  animation: animate-background 3s infinite ease-in-out;
}

@keyframes animate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.form1 {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  background-color: rgb(85, 82, 78);
}

.Submit {
  margin-top: 20px;
  text-decoration: none;
  font-size: 18px;
  color: #1fe8e8;
  background: none;
  padding: 5px 30px;
  border: 3px solid #1fe8e8;
  position: relative;
}

.Submit::before,
.Submit::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: inherit;
  transition: all 0.8s;
}
.Submit::before {
  top: -15px;
  left: -15px;
  border-width: 3px 0 0 3px;
}
.Submit::after {
  bottom: -15px;
  right: -15px;
  border-width: 0 3px 3px 0;
}
.Submit:hover::before,
.Submit:hover::after {
  width: calc(100% + 27px);
  height: calc(100% + 27px);
}

label {
  color: #ffffff;
}
